@import '/css/common.css';

#account > img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 5px;
  border: 2px solid #5865F2;
}

#account {
  padding-right: 20px;
  font-size: 20px;
}

.title-container {
  margin-top: 100px;
  margin: 10vw;
  text-align: center;
}

#servers-container {
  margin: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  flex: 1 0 20%;
}

#servers-container > div {
  width: max(15vw, 125px);
  margin: 10px;
  cursor: pointer;
}

/* SMALL SCREEN BEHAVIOR */
@media screen and (max-width: 990px) {
  .title-container {
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .title {
    font-size: 10vw;
  }

  .description {
    font-size: 4vw;
  }

  #servers-container {
    justify-content: center;
  }

  #account {
    padding-bottom: 20px;
  }
}