@import "/css/common.css";

body {
  background-color: #0c0724;;
}

.container > p {
  color: #bbbbbb;
  margin-bottom: 50px;
}

.container > h2 {
  font-weight: bold;
  font-size: 25px;
}

.container > ul > li {
  color: #bbbbbb;
  margin: 5px 0 5px 0;
}

.no-margin {
  margin: 0 !important;
}