* { 
  box-sizing:border-box;
  color: white;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.2px;
}

body {
  background: linear-gradient(#121245, #121220);
  background-color: #121220;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: min(800px, 90vw);
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
}

br {
  user-select: none;
}

.navbar {
  background-color: #060610 !important;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.navbar .navbar-nav > li > a {
  line-height: 30px;
  font-size: 20px;
}

.navbar .navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

#navbar-icon {
  height: 50px;
  border-radius: 100%;
}