body {
    background-color: #eee; /* Dark background color */
    color: #000; /* Text color */
    font-family: Helvetica, sans-serif
}

.navbar .navbar-nav > li > a {
  line-height: 30px;
  font-size: 20px;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.title-container {
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 85px;
  font-weight: 800;
}

.description {
  font-size: 25px;
  color: #333;
}

.invite-button {
  margin-top: 50px;
  font-size: 20px;
  width: 150px;
}